
.todo-container,
    .cs-render-todo{
      display:grid;
      grid-template-columns:300px 200px 100px;
      column-gap: 30px;
      font-size: 30px;
      justify-content: center;
      align-items: center;
      row-gap: 20px;
    }
    .cs-todo-name,
    .cs-duedate{
      width: 100%;
      height:55px;
      font-size: 25px;
      padding: 5px;
    }
    .add-btn{
      background-color: green;
      width: 100%;
      height:68px;
      font-size: 20px;
      font-weight: bold;
      color:white;

    }
    .todo-container{
      margin-bottom: 20px;
    }
    .delete-btn{
      background-color: red;
      height: 50px;
      color:white;
      font-weight: bold;
      font-size: 20px;
    }
    .add-btn:hover,
    .delete-btn:hover{
      opacity: 70%;
      cursor: pointer;
    }
    .add-btn:active,
    .delete-btn:active{
      opacity: 50%;
    }
    h1{
      color: blue;
      font-size: 50px;
    }
    